:root {
  --primary-color: #f0f5ff;
  --secondary-color: #58697d;
  --heading-font: "Montserrat", sans-serif;
  --default-font: "Raleway", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 36px;
}

body {
  font-family: var(--default-font);
  font-weight: normal;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 72px 20px;
}

.btn-contact {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.nav {
  background-color: var(--secondary-color);
  line-height: 2;
}

.nav .main-link {
  margin: 0 2%;
}

.nav .active {
  font-weight: bold;
}

.nav a {
  color: white;
  padding: 4px;
}

.social {
  text-align: center;
}

.social i {
  color: var(--secondary-color);
  font-size: 32px;
  margin-bottom: 30px;
}

.social a {
  margin: 0 50px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 18pt;
  }
}
