:root {
  --primary-color: #f0f5ff;
  --secondary-color: #58697d;
  --heading-font: "Montserrat", sans-serif;
  --default-font: "Raleway", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 36px;
}

p {
  font-family: var(--default-font);
  font-weight: normal;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 72px 20px;
}

.btn-contact {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.nav {
  background-color: var(--secondary-color);
  line-height: 2;
}

.nav .main-link {
  margin: 0 2%;
}

.nav .active {
  font-weight: bold;
}

.nav .nav-link {
  color: white;
  padding: 4px;
}

.dropdown-item {
  color: var(--secondary-color);
}

.featured-project {
  margin: 5px;
}

.social {
  text-align: center;
}

.social i {
  color: var(--secondary-color);
  font-size: 32px;
  margin-bottom: 30px;
}

.social a {
  margin: 0 50px;
  text-decoration: none;
}

.stack {
  border: 1px solid var(--secondary-color);
  padding: 15px;
}

.stack h2 {
  text-align: center;
}

.stack ul {
  list-style-type: none;
  padding: 15px 0;
}

.stack li {
  font-size: 18pt;
  line-height: 2;
  text-align: center;
}

.education {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18pt;
  }

  .hero {
    padding: 50px 20px;
  }

  .nav,
  .dropdown-item {
    font-size: 9pt;
  }

  .btn-contact {
    font-size: 14px;
    line-height: 27px;
    padding: 10px 15px;
  }

  .social i {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .social a {
    margin: 0 15px;
  }
}
